<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ba9071ec-e5ba-4a41-9e4d-94da1a878fe3/resourcegroups/MVC/providers/Microsoft.Web/sites/MVC-Stock</ResourceId>
    <ResourceGroup>MVC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvc-stock.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvc-stock.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MVC-Stock</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MVC-Stock</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FinanceEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication3.Models.FinanceEntities, WebApplication3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FileContentEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication3.Models.FileContentEntities, WebApplication3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GuestbooksEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication3.Models.GuestbooksEntities, WebApplication3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GuestbooksEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MyGuestbook.csdl|res://*/Models.MyGuestbook.ssdl|res://*/Models.MyGuestbook.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FileContentEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MyFileContent.csdl|res://*/Models.MyFileContent.ssdl|res://*/Models.MyFileContent.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FinanceEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Finance.csdl|res://*/Models.Finance.ssdl|res://*/Models.Finance.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GuestbooksEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MyGuestbook.csdl|res://*/Models.MyGuestbook.ssdl|res://*/Models.MyGuestbook.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FileContentEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MyFileContent.csdl|res://*/Models.MyFileContent.ssdl|res://*/Models.MyFileContent.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FinanceEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Finance.csdl|res://*/Models.Finance.ssdl|res://*/Models.Finance.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mvc-stock.database.windows.net,1433;Initial Catalog=Finance;Persist Security Info=False;User ID=swlin0328;Password=Game1428;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>